<footer class="footer-container" id="footer">
  <div class="footer-background"></div>
  <div class="footer-wrapper">
        <!-- Row 1 -->
        <div class="footer-row-1">
            <!-- Column 1.1 -->
            <div class="footer-col-1">
            <div class="company-logo">
                <img class="logo-image" src="{{ '/assets/images/logo/mta_full_logo_white.svg' | url }}" alt="Mai Tâm Anh Logo">
                </div>
                <div class="company-details">
                <div class="address-text">
                    Tầng 14, Tòa nhà Lim 3, 29A Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh, Việt Nam
                </div>
                <div class="hotline-text">
                    Hotline Đăng Ký Đại Lý Vietlott: <a class="link" href="tel:1900633035">1900 633 035</a>
                </div>
                <div class="email-text">
                    Email: <a class="link" href="mailto:cskh@maitamanh.vn">cskh@maitamanh.vn</a>
                </div>
            </div>
            
            <!-- Row 1.1.2: Partnership + Social Media -->
            <div class="combined-sections">
                <div class="partnership-content">
                    <div class="partnership-title"><strong>Đối tác chính thức</strong></div>
                    <div class="partner-logos">
                        <div class="mb-logo">
                            <img src="{{ '/assets/images/logo/mb_full_logo_white.svg' | url }}" alt="MTA Logo">
                        </div>
                        <div class="vietlott-logo">
                            <img src="{{ '/assets/images/logo/vietlott_full_logo_white.svg' | url }}" alt="Vietlott Logo">
                        </div>
                    </div>
                </div>
                <div class="separator-column"></div>
                <div class="social-media">
                <div class="social-title"><strong>Kết nối với chúng tôi</strong></div>
                <div class="social-icons">
                    {% for social_item in config.extra.social %}
                    <a href="{{ social_item.link }}" target="_blank" aria-label="Social Media Link">
                        <img src="{{ social_item.icon | url }}" alt="Social Icon">
                    </a>
                    {% endfor %}
                </div>
                </div>
            </div>
            </div>
            
            <!-- Column 1.2: App Download -->
            <div class="app-download">
            <div class="app-download-title"><strong>Tải ứng dụng trên điện thoại</strong></div>
            <div class="app-download-content">
                <a class="qr-code-link" href="{{ config.extra.app_download.qr_code.link }}" target="_blank" aria-label="{{ config.extra.app_download.qr_code.alt }}">
                    <img src="{{ config.extra.app_download.qr_code.image | url }}" alt="{{ config.extra.app_download.qr_code.alt }}">
                </a>
                
                <div class="store-buttons">
                    {% for store in config.extra.app_download.stores %}
                    <a class="{{ store.name }}-button" href="{{ store.link }}" target="_blank" aria-label="{{ store.alt }}">
                        <img src="{{ store.image | url }}" alt="{{ store.alt }}">
                    </a>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
        
        <!-- Row 2: Quick Links -->
        {% include "partials/footer_menu.html" %}
        
        <!-- Row 3: Copyright -->
        <div class="copyright">
            <div class="copyright-text">
                {{ config.copyright }}
            </div>
        </div>
  </div>
</footer>