<!-- Footer Menu Links Template -->
<div class="quicklinks">
    <div class="quicklinks-title"><strong>LINK NHANH:</strong></div>
    <div class="quicklinks-list">
        {% set all_links = [] %}
        {% for section in config.footer_menu %}
        {% for section_name, links in section.items() %}
            {% for link_item in links %}
            {% for link_text, link_url in link_item.items() %}
                {% set _ = all_links.append((link_text, link_url)) %}
            {% endfor %}
            {% endfor %}
        {% endfor %}
        {% endfor %}
        
        {% for link_text, link_url in all_links %}
            {% if not loop.first %}
            <div class="separator-column"></div>
            {% endif %}
            <div class="link-item">
                <a href="{{ link_url }}" target="_blank" rel="noopener">{{ link_text }}</a>
            </div>
        {% endfor %}
    </div>
</div>